.navbar {
  position: absolute;
  bottom: 0;
  background-color: #1423dc;
  min-width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  text-decoration: none;
  color: white;
  z-index: 100;
}

/* .navbar span {
  background-color: #1423dc;
  min-width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  text-decoration: none;
  color: white;
  z-index: 100;
} */

.navbarLogoContainer {
  height: 8vh;
  width: auto;
}

.navbarImgContainer {
  height: 4vh;
  width: auto;
}

.navbarLogo {
  width: 100%;
  height: 100%;
}

.navbarImg {
  width: 90%;
  height: 75%;
  margin-top: 7%;
}
