.FormSignal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--green-400);
  padding-bottom: 50px;
}

.FormSignalLabel {
  margin: 10px;
  width: 100%;
}

.FormSignalTextAera {
  margin: 10px;
  width: 100%;
  min-height: 150px;
}
